/assets

/space-fight-android/bin

/space-fight-android/gen/net/justinwhite/spacefight

/space-fight-android/libs/armeabi-v7a

/space-fight-desktop/bin

/space-fight-android/libs/armeabi

/space-fight-android/libs

/space-fight-desktop/libs

/space-fight-html/war/WEB-INF/lib

/space-fight-main/bin/net/justinwhite/spacefight

/space-fight-main/bin

/space-fight-html/war/WEB-INF
